name: Maven build

on:
  workflow_dispatch:
  push:
    branches: 
      - 'feature'

jobs:
  prebuild:
    outputs:
      mvn-build-phases-args: ${{ steps.mvn-build-params.outputs.phases_args }}
    name: "Prebuild"
    runs-on: ubuntu-latest

    steps:
      - name: Generate Maven Build Parameters
        id: mvn-build-params
        run: |
          if [[ "${{ github.event_name }}" == 'push' ||  "${{ github.event_name }}" == 'workflow_dispatch' ]]; then
            deploy_args="-Dmaven.test.skip=true -DBUILD_NUMBER=${{ github.run_number }} clean package"
            echo "phases_args=$deploy_args" >> "$GITHUB_OUTPUT"
          fi
  build:
    name: "Build WAR"
    needs: prebuild
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Java 21 (AWS Corretto)
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '21'
          cache: 'maven'

      - name: Version Validations
        run: |
          echo "JAVA_HOME: $JAVA_HOME"
          java -version
          mvn -version

      - name: Run Maven Build
        run: mvn ${{ needs.prebuild.outputs.mvn-build-phases-args }}
