name: mvn-build

on:
  workflow_dispatch:
  push:
    branches: 
      - 'feature*'

jobs:
  validation:
    runs-on: ubuntu-latest
    steps:
      - name: version check
        run: |
          echo "java version"
          java -version 
          echo "maven version"
          mvn -version 
      - name: checkout 
        uses: actions/checkout@v3
  build:
     uses: xtime-asia-pacific/.buildcode/.github/workflows/mvn_build.yml@feature1
     name: Build with Maven
     with:
         java-version: 21
