name: Maven build

on:
  workflow_dispatch:
    inputs:
      build-mode:
        description: 'Enter build mode: build | deploy'
        required: true
        type: string
        default: 'build'
  push:
    branches: 
      - 'feature'

jobs:
  prebuild:
    outputs:
      mvn-build-phases-args: ${{ steps.mvn-build-params.outputs.phases_args }}
    name: "Prebuild"
    runs-on: ubuntu-latest

    steps:
      - name: Generate Maven Build Parameters
        id: mvn-build-params
        run: |
          mode="${{ github.event.inputs.build-mode }}"
          if [[ "${{ github.event_name }}" == 'push' ]]; then
            mode="deploy"
          fi

          case "$mode" in
            build)
              deploy_args="clean package"
              ;;
            deploy)
              deploy_args="-Dmaven.test.skip=true -DBUILD_NUMBER=${{ github.run_number }} clean package"
              ;;
            *)
              echo "Invalid mode selected: $mode"
              exit 1
              ;;
          esac

          echo "phases_args=$deploy_args" >> "$GITHUB_OUTPUT"

  build:
    name: "Build WAR"
    needs: prebuild
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Java 21 (AWS Corretto)
        uses: actions/setup-java@v4
        with:
          distribution: 'corretto'
          java-version: '21'
          cache: 'maven'

      - name: Version Validations
        run: |
          echo "JAVA_HOME: $JAVA_HOME"
          java -version
          mvn -version

      - name: Run Maven Build
        run: mvn ${{ needs.prebuild.outputs.mvn-build-phases-args }}
  imagecreation:
       name: "generating dockerimage"
       needs: build
       runs-on: ubuntu-latest
       steps:
        - name: Checkout Code
          uses: actions/checkout@v4
        - name: Create Dockerfile
          run: |
            cat <<EOF > Dockerfile
            FROM eclipse-temurin:21-jdk
        
            WORKDIR /app
        
            COPY target/dependency/webapp-runner.jar webapp-runner.jar
            COPY target/*.war app.war
        
            EXPOSE 8080
        
            CMD ["java", "-jar", "webapp-runner.jar", "app.war"]
            EOF
        - name: Build Docker Image
          run: |
              docker build -t java-test-vamshi/testimage:${{ github.run_number }} .
        
